@import "fonts";
@import "vars";

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  border: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
body {
  @extend %helvetica;
  font-size: 16px;
  line-height: 1.375;
  color: $grey;
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.title {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
}
.grad-title {
  font-size: 36px;
  line-height: 41px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section-page {
  margin: 100px 0;
}
// HEADER
.header {
  background-color: $white;
  border-bottom: 1px solid $light-grey;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
  &-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    & span {
      height: 2px;
      width: 100%;
      background-color: $black;
    }
  }
  &__list {
    display: flex;
    gap: 0 20px;
    text-transform: uppercase;
  }
  &__logo {
    justify-self: center;
    display: flex;
  }
  &__basket {
    justify-self: end;
    position: relative;
  }
  &__basket--on span {
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $light-grey;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -2px;
  }
}
@media (max-width: 820px) {
  .menu {
    &__list {
      transform: translateX(-100%);
      transition: transform 1s;
      position: absolute;
      top: 80px;
      right: 0;
      left: 0;
      width: 320px;
      background-color: $bg;
      color: $grey;
      padding: 100px 20px;
      flex-direction: column;
      align-items: center;
    }
    &-btn {
      display: flex;
    }
    &__list--active {
      transform: translateX(0%);
    }
    &__list-link {
      font-size: 24px;
      display: inline-block;
      padding: 15px 0;
    }
  }
}
@media (max-width: 550px) {
  .menu {
    grid-template-columns: 1fr 2fr 1fr;
  }
}
@media (max-width: 425px) {
  .menu {
    &__list {
      width: 100%;
      height: calc(100vh - 81px);
    }
  }
}
// MAIN
// 1.SECTION: TOP
.top {
  min-height: calc(100vh - 81px);
  background-image: url(../images/top-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  &__title {
    font-size: 96px;
    line-height: 1.15;
    font-weight: 400;
    padding-top: 15%;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 36px;
    margin-bottom: 5px;
  }
  &__text {
    font-size: 13px;
    margin-bottom: 50px;
  }
}
.buy__btn {
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(180deg, #bc10d8 0%, rgba(80, 0, 250, 0.93) 100%);
  @extend %helvetica-700;
  padding: 1px;
  border: none;
  display: flex;
  &-text {
    color: $white;
    padding: 20px 110px;
  }
  &-price {
    color: $grey;
    padding: 20px 105px;
    background-color: $white;
  }
  &-descr {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .top {
    &__title {
      padding-top: 10%;
    }
  }
}
@media (max-width: 768px) {
  .top {
    &__title {
      font-size: 66px;
    }
    &__subtitle {
      font-size: 24px;
    }
  }
  .section-page {
    margin: 50px 0;
  }
}
@media (max-width: 640px) {
  .top {
    text-align: center;
  }
  .buy__btn {
    flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  .top {
    &__title {
      font-size: 48px;
      font-weight: 700;
    }
    &__subtitle {
      font-size: 20px;
    }
  }
}
// 2.SECTION: PRODUCT
.product {
  &__info {
    display: flex;
  }
  &__title {
    flex-basis: 300px;
  }
  &__text {
    max-width: 330px;
    margin-bottom: 20px;
  }
  &-tabs {
    display: grid;
    grid-template-columns: 300px auto;
    &__btn {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      @extend %helvetica-700;
    }
    &__btn-item--active {
      color: $black;
    }
    &__box h3 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    &__content {
      position: relative;
      min-height: 321px;
    }

    &__content-img {
      grid-row: 1/-1;
      align-self: stretch;
      object-fit: cover;
    }
    &__content-item {
      display: grid;
      grid-template-columns: auto 280px;
      grid-template-rows: auto 150px;
      gap: 40px;
      opacity: 0;
      position: absolute;
      transition: opacity 0.3s ease;
    }
    &__content-item--active {
      opacity: 1;
    }
  }
  &-video {
    grid-column: 2/3;
    width: 280px;
    height: 150px;
    background-image: url(../images/content-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    padding: 9px 10px;
    &__btn {
      padding-left: 22px;
      padding-bottom: 9px;
    }
    & span {
      color: $white;
    }
  }
}

@media (max-width: 992px) {
  .product {
    &-tabs {
      display: block;
    }
    &-tabs__btn {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 640px) {
  .product {
    &__info {
      display: block;
    }
    &__title {
      margin-bottom: 50px;
    }
    &-tabs__content-item {
      // min-height: 510px;
      height: 0;
      position: relative;
    }
    &-tabs__content-item--active {
      height: auto;
    }
    &-tabs__content-img {
      grid-column: 1 / -1;
    }
  }
}
@media (max-width: 550px) {
  .product {
    // &-tabs__content {
    //   min-height: 640px;
    // }
    &-tabs__content-item {
      display: block;
    }
    &-video {
      margin-top: 20px;
      width: auto;
      height: 250px;
    }
  }
}
@media (max-width: 425px) {
  .grad-title {
    font-size: 28px;
  }
}
// 3.SECTION: GAMES

.games {
  &__title {
    margin-bottom: 50px;
  }
  &__inner {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
  }
  &__descr-title {
    margin-bottom: 10px;
  }
  &__descr-text {
    padding-right: 10px;
    margin-bottom: 30px;
  }
  &__descr-link {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    @extend %helvetica-700;

    background: linear-gradient(
      180deg,
      #bc10d8 0%,
      rgba(80, 0, 250, 0.93) 100%
    );
    // -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 16px 15px;
    width: 225px;
    border: 1px solid;
    border-image: linear-gradient(
        180deg,
        #bc10d8 0%,
        rgba(80, 0, 250, 0.93) 100%
      )
      1;
  }
  &__item {
    padding: 20px 18px;
    border: 1px solid #bc10d8;
    display: flex;
    flex-direction: column;
  }
  &__item-title {
    padding: 10px 0;
    color: $black;
    font-size: 23px;
    font-weight: 400;
  }
  &__item-text {
    margin-bottom: 30px;
  }
  &__item-link {
    margin-top: auto;
    background: linear-gradient(
      180deg,
      #bc10d8 0%,
      rgba(80, 0, 250, 0.93) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
@media (max-width: 992px) {
  .games {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }
}
@media (max-width: 568px) {
  .games {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
    }
  }
}
// 4.DIV: OCULUS
.oculus {
  margin-bottom: 110px;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  &__bg {
    background: linear-gradient(
      180deg,
      #bc10d8 0%,
      rgba(80, 0, 250, 0.93) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.1;
    font-size: 400px;
    line-height: 400px;
    @extend %helvetica-700;
    text-transform: uppercase;
    position: absolute;
    z-index: -1;
    animation: line-text 6s linear infinite;
  }
  &__img {
    margin-bottom: 30px;
  }
  &__btn {
    margin: 0 auto;
  }
  @keyframes line-text {
    from {
      transform: translateX(115%);
      transform-origin: left center;
    }
    to {
      transform: translateX(-115%);
      transform-origin: right center;
    }
  }
}
// 5.SECTION: EQUIPMENT
.equipment {
  &__title {
    margin-bottom: 50px;
  }
  &__subtitle {
    display: none;
  }
  &__box {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  &__box-item--one {
    grid-row: 1/-1;
  }
  &__box-img {
    margin-bottom: 10px;
  }
}
@media (max-width: 820px) {
  .equipment {
    &__box {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (max-width: 568px) {
  .equipment {
    &__subtitle {
      display: block;
      margin-bottom: 20px;
    }
    &__box {
      display: block;
    }
    &__box-img {
      width: 100%;
      object-fit: cover;
    }
    &__box-text {
      margin-bottom: 20px;
    }
    &__box-title {
      display: none;
    }
  }
}
// 6.DIV: PROMO
.promo {
  &__inner {
    min-height: 500px;
    background-image: url(../images/promo-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  &__btn {
    width: 50px;
    height: 50px;
    color: #fff;
    background: linear-gradient(
      180deg,
      #bc10d8 0%,
      rgba(80, 0, 250, 0.93) 100%
    );
    border-radius: 50%;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: 0 auto;
  }
}
// 7.SECTION: ACCESSORIES
.accessories {
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    margin-bottom: 30px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
  }
  &__item {
    padding: 20px;
    border: 1px solid;
    border-image: linear-gradient(
        180deg,
        #bc10d8 0%,
        rgba(80, 0, 250, 0.93) 100%
      )
      1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-img {
    margin-bottom: 10px;
  }
  &__item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    min-height: 56px;
    margin-bottom: 10px;
    color: $black;
  }
  &__item-text {
    margin-bottom: 42px;
  }
  &__item-price {
    @extend %helvetica-700;
    margin-bottom: 20px;
    color: $black;
    line-height: 18px;
  }
  &__item-btn {
    background: linear-gradient(
      180deg,
      #bc10d8 0%,
      rgba(80, 0, 250, 0.93) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    border: 1px solid;
    border-image: linear-gradient(
        180deg,
        #bc10d8 0%,
        rgba(80, 0, 250, 0.93) 100%
      )
      1;
    width: 100%;
    padding: 6px;
    line-height: 18px;
  }
}
@media (max-width: 992px) {
  .accessories {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
}
@media (max-width: 568px) {
  .accessories {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
}
// 8.SECTION: CONTACTS
.contacts {
  &__title {
    font-size: 24px;
    line-height: 27px;
    font-weight: 400;
    color: $black;
    margin-bottom: 10px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__form {
    flex-basis: 600px;
  }

  &__text {
    font-size: 13px;
    line-height: 15px;
  }
}
.form {
  margin-bottom: 10px;
  position: relative;
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $light-grey;
    padding: 22px 70px 22px 0;
    outline: none;
    font-size: 18px;
    &::placeholder {
      @extend %helvetica;
      font-size: 13px;
      line-height: 15px;
      color: $light-grey;
    }
  }
  &__btn {
    text-transform: uppercase;
    background-color: $light-grey;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 5px;
  }
}
@media (max-width: 820px) {
  .contacts {
    &__inner {
      display: block;
    }
    &__form {
      margin-bottom: 30px;
    }
  }
}
// MAIN END
// FOOTER
.footer {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding: 30px 0;
  margin-bottom: 40px;
  .menu__social {
    display: flex;
    gap: 20px;
    justify-self: end;
  }
}
@media (max-width: 1140px) {
  .footer {
    .menu {
      display: flex;
      justify-content: space-between;
      &__list {
        display: none;
      }
    }
  }
}
@media (max-width: 425px) {
  .footer {
    .menu {
      height: auto;
      flex-direction: column-reverse;
      gap: 20px;
      &__social {
        gap: 30px;
      }
    }
  }
}
