$white: #f6f4f5;
$light-grey: #cacad6;
$grey: #5c5c5e;
$black: #070707;
$bg: #d9d9d9;

%helvetica {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
}
%helvetica-700 {
  font-family: "Helvetica-Bold", sans-serif;
  font-weight: 700;
}
